.service-card-image {
  width: 100%;
  height: 250px;
  padding: 20px;
}
.service-card {
  text-align: center;
  border-radius: none;
  border: 1px solid var(--yellow-color);
}
.card-title {
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: "Heebo", sans-serif;
}
.service-card-description {
  padding: 8px 20px;
  letter-spacing: 1px;
  font-family: "Catamaran", sans-serif;
}
.see-more {
  outline: none;
  padding: 8px 12px;
  font-size: 20px;
  font-family: "Catamaran", sans-serif;
  border: 2px solid var(--yellow-color);
  background: transparent;
}
.see-more:hover {
  background-color: var(--yellow-color);
}
