.popular-text {
  font-size: 50px;
  color: var(--black-color);
}
.popular-text span {
  color: var(--yellow-color);
  text-decoration: underline;
}
.card-img {
  width: 90px;
  border-radius: 50%;
  background: var(--yellow-color);
  padding: 15px;
}
.popular-card {
  background-color: #f2efe6;
  border-radius: 20px;
  transition: all 0.4s;
  cursor: pointer;
}
.popular-card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
