.service-detail {
  font-family: "Heebo", sans-serif;
  margin: 100px 0;
}
.service-info {
  letter-spacing: 0.8px;
  color: rgb(73, 73, 73);
}
.book-order-btn {
  border: 1px solid var(--yellow-color);
  outline: none;
  padding: 12px 25px;
  background: none;
  font-size: 20px;
}
.book-order-btn:hover {
  background-color: var(--yellow-color);
}
