.gomoto-navbar {
  background-color: var(--black-color);
  padding: 20px 0;
}
.links a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
}
.links a:hover {
  color: var(--yellow-color);
}
.user-photo {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.user-info {
  font-family: "Heebo", sans-serif;
}
