.gomoto-navbar {
  background-color: #282931;
  height: 90px;
}
.links a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
}
.links a:hover {
  color: var(--yellow-color);
}
